body {
    background-color: lightsteelblue;
}

html, body {
	height: 100%;
}
.first-row {
	height: 5%;
}


.col {
	float: left;
	width: 30%;
	margin: 1%;
}

.sale-rep-image {
	float: left;
	width: 25%;
	margin-right: 2%;
}

.sale-rep-profile-image {
	width: 100%;
	height: 100%;
}

.s-name {
	margin-bottom: 0;
}

.s-address {
	margin-bottom: 1%;
}



.sale-rep-info {
	margin-bottom: 1%;
}

.sale-rep-info > p {
	margin-top: 2px;
	margin-bottom: 2px;
}

.sale-rep-description {
	margin-top: 3%;
	border: 2px solid black;
}

.sale-rep-description-title {
	margin-top: 0;
	border-bottom: 2px solid black;
	background-color: darkgray;
}

.sale-item, .sale-info {
	border: 1px solid black;
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}

.sale-item:hover, .sale-info:hover {
	background-color: lightgray;
}

.sale-item:last-child, .sale-info:last-child {

	border-bottom: 1px solid black;
}

.sale-item-text, .sale-item-text {
	margin: 1%;
	margin-left: 2%;
	margin-bottom: 0;

}
.sale-item-name, .sale-rep-name{
	margin: 0%;
}

.sale-information, .sale-rep-information {
	margin-top: 1%;
}


.client-list {
	float: left;
	width: 100%;
}

.search {
	margin-bottom: 0%;
	display: flex;
	margin-top: 11.5%;
}

.search-term {
	color: gray;
	width: 93%;
}

.search-term:focus{
  	color: black;
}

.search-icon {
	margin-left: 2%;
	margin-top: 1%;
}

.search-icon:hover {
	font-size: 16px;
}

.scrollbar
{
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}


.sale-information > span, .sale-rep-information > span{
	border-right: 1px solid lightgray;
	margin-left: 5px;
}

.sale-information>span:first-child, .sale-rep-information>span:first-child {
	margin: 0;
}

.sale-information>span:last-child, .sale-rep-information>span:last-child {
	border: none;
}
